<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>PersonalLoan.e2ePersonalLoan(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.GULFBANK.Testcases.PersonalLoan@5bc79255]<br/>SavingsAccountNegative.savings_accountNegative(java.lang.String, java.lang.String)[pri:0, instance:com.GULFBANK.Testcases.SavingsAccountNegative@3dd4520b]<br/></td></tr>
</table>
