<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>com.GULFBANK.project by groups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="997ed7">  <td>21/01/04 20:11:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalLoan.e2ePersonalLoan(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.GULFBANK.Testcases.PersonalLoan@5bc79255]">e2ePersonalLoan</td> 
  <td>main@222624801</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>21/01/04 20:11:04</td>   <td>98</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SavingsAccountNegative.savings_accountNegative(java.lang.String, java.lang.String)[pri:0, instance:com.GULFBANK.Testcases.SavingsAccountNegative@3dd4520b]">savings_accountNegative</td> 
  <td>main@222624801</td>   <td></td> </tr>
</table>
