<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>functional</td><td>ProductCategories.verificationOfProductsCategories()[pri:5, instance:com.GULFBANK.Testcases.ProductCategories@887af79]<br/>ProductCategories.verificationOfKnowMore()[pri:3, instance:com.GULFBANK.Testcases.ProductCategories@887af79]<br/>ProductCategories.verificationOfProductsImages()[pri:2, instance:com.GULFBANK.Testcases.ProductCategories@887af79]<br/>ProductCategories.verificationOfKnowMoreSavingsAccount()[pri:4, instance:com.GULFBANK.Testcases.ProductCategories@887af79]<br/></td></tr>
<tr><td>regression</td><td>ProductCategories.verificationOfProductsCategories()[pri:5, instance:com.GULFBANK.Testcases.ProductCategories@887af79]<br/>ProductCategories.verificationOfKnowMore()[pri:3, instance:com.GULFBANK.Testcases.ProductCategories@887af79]<br/>ProductCategories.verificationOfProductsImages()[pri:2, instance:com.GULFBANK.Testcases.ProductCategories@887af79]<br/>ProductCategories.verificationOfKnowMoreSavingsAccount()[pri:4, instance:com.GULFBANK.Testcases.ProductCategories@887af79]<br/>ProductCategories.verificationOfPageTitle()[pri:1, instance:com.GULFBANK.Testcases.ProductCategories@887af79]<br/></td></tr>
</table>
