<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca907e">  <td>21/01/07 10:14:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup(java.lang.String)[pri:0, instance:com.GULFBANK.Testcases.ProductCategories@887af79]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>21/01/07 10:15:33</td>   <td>43020</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.GULFBANK.Testcases.ProductCategories@887af79]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>21/01/07 10:15:12</td>   <td>21609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductCategories.verificationOfKnowMore()[pri:3, instance:com.GULFBANK.Testcases.ProductCategories@887af79]">verificationOfKnowMore</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>21/01/07 10:15:27</td>   <td>36481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductCategories.verificationOfKnowMoreSavingsAccount()[pri:4, instance:com.GULFBANK.Testcases.ProductCategories@887af79]">verificationOfKnowMoreSavingsAccount</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>21/01/07 10:14:57</td>   <td>7371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductCategories.verificationOfPageTitle()[pri:1, instance:com.GULFBANK.Testcases.ProductCategories@887af79]">verificationOfPageTitle</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>21/01/07 10:15:33</td>   <td>42609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductCategories.verificationOfProductsCategories()[pri:5, instance:com.GULFBANK.Testcases.ProductCategories@887af79]">verificationOfProductsCategories</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>21/01/07 10:15:03</td>   <td>12641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductCategories.verificationOfProductsImages()[pri:2, instance:com.GULFBANK.Testcases.ProductCategories@887af79]">verificationOfProductsImages</td> 
  <td>main@319977154</td>   <td></td> </tr>
</table>
